# begin license for material from https://github.com/github/gitignore/**

# Copyright (c) 2015 GitHub, Inc.

# Permission is hereby granted,  free of charge,  to any person obtaining a
# copy of this software and associated documentation files (the "Software"),
# to deal in the Software without restriction, including without limitation
# the rights to  use, copy, modify, merge, publish, distribute, sublicense,
# and/or sell copies of the Software, and to permit persons to whom the
# Software is furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
# DEALINGS IN THE SOFTWARE.

# end license for material from https://github.com/github/gitignore/**



# begin material from https://github.com/github/gitignore/blob/master/Global/Emacs.gitignore

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/

# end material from https://github.com/github/gitignore/blob/master/Global/Emacs.gitignore





# begin material from https://github.com/github/gitignore/blob/master/Global/Vim.gitignore

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# end material from https://github.com/github/gitignore/blob/master/Global/Vim.gitignore



# begin material from https://github.com/github/gitignore/blob/master/R.gitignore

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# end material from https://github.com/github/gitignore/blob/master/R.gitignore



# begin material from https://github.com/github/gitignore/blob/master/C%2B%2B.gitignore

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# end material from https://github.com/github/gitignore/blob/master/C%2B%2B.gitignore

# Assume contents of man page directories are automatically generated:
man/**

# Ignore copy of delphi_epidata.R:
# /R_pkg/epiforecast/R/delphi_epidata.R
# /R_pkg/epiforecast/R/RcppExports.R
# /R_pkg/epiforecast/src/RcppExports.cpp

# Ignore epiforecast package data folder (it should be generated by scripts in data-raw):
/R_pkg/epiforecast/data/**


# (For now) offline copies of data that was fetched
*.csv
*.Rdata

# R documentatation
*.Rd

# Personal todo lists
*todo-justin.org